@model SnippetsHub.Models.LoginModel
@{
    ViewBag.Title = "RegistrationPage";
}  
    <div class="text-center"> 
       
        <h3>Login</h3>

       @using (Html.BeginForm("Login", "Member", FormMethod.Post, new { id = "LoginForm" }))
       {
       <span style="color:red">@Html.ValidationSummary()</span>
       @Html.LabelFor(m => m.Email)<br />
       @Html.TextBoxFor(m => m.Email)<br /><br />

       @Html.LabelFor(m => m.Password)<br />
       @Html.PasswordFor(m => m.Password)<br /> <br />

       <input class="btn btn-primary" id="Submit1" type="submit" value="Login" />
       }     
    </div>

