@model SnippetsHub.Models.Member


@{
    ViewBag.Title = "RegistrationPage";
}  
    <script>
        function submitForm() {
            document.getElementById("RegMemForm").reset();
        }
    </script>

    <div class="text-center">
        <h3>Fill in the Form Below to Register</h3>
        @using (Html.BeginForm("Register", "Member", FormMethod.Post, new { id = "RegMemForm" }))
{

            <span style="color:red">
                @Html.ValidationSummary()
            </span>

            @Html.LabelFor(m => m.FirstName)<br />
            @Html.TextBoxFor(m => m.FirstName)<br /> <br />

            @Html.LabelFor(m => m.LastName)<br />
            @Html.TextBoxFor(m => m.LastName)<br /><br />

            @Html.LabelFor(m => m.Email)<br />
            @Html.TextBoxFor(m => m.Email)<br /><br />

            @Html.LabelFor(m => m.Username)<br /> <br />
            @Html.TextBoxFor(m => m.Username) <br /> <br />

            @Html.LabelFor(m => m.Password)<br />
            @Html.PasswordFor(m => m.Password)<br /> <br />

            @Html.LabelFor(m => m.ConfirmPassword)<br /> <br />
            @Html.PasswordFor(m => m.ConfirmPassword) <br /> <br />

            <input class="btn btn-primary" id="Submit1" type="submit" value="Register" />
            <input class="btn btn-warning" id="Reset1" type="button" value="Clear" onclick="submitForm()" />
}
    </div>   

