<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta name="description" content="A web application for storing and sharing handy snippets of code.">
</head>
<body>
        <header id="header"></header>
        <div class="jumbotron text-center" style="background-image: url('../../Images/binary.png'); color: white;">
            <h1>Snippet Hub</h1>
            <p>Built by Coders for Coders</p>
            <p>Snippet Hub is a web application for storing and sharing handy snippets of code.</p>
            <p> @RenderPage("~/Views/Shared/LoginRegister.cshtml") </p>
            <p> @RenderSection("Logged", false)</p>
        </div>
        <nav class="navbar navbar-default" style="border: groove; border-color: lightgrey;" >
            <div class="container-fluid">
                <ul class="nav navbar-nav text-center" style="padding:5px;">
                    <li> @Html.ActionLink("Home", "Index", "Home") </li>
                    <li> @Html.ActionLink("About Us", "AboutUs", "Home")</li>
                    <li> @Html.ActionLink("FAQ", "FrequentlyAskedQuestions", "Home")</li>
                    <li> @Html.ActionLink("Interested in Advertising?", "Index", "Advertising")</li>
                    <li> @Html.ActionLink("Register", "RegistrationPage", "Member")</li>
                    <li> @Html.ActionLink("Login", "Login", "Member")</li>
                    <li> @Html.ActionLink("MyProfile", "Snippet", "Member")</li>
                </ul>
            </div>
        </nav>
        <main class="main">
            @RenderBody()
            <hr />
        </main>
        <footer class="footer text-center" style="background-image: url('../../Images/binary.png'); color: white;">
            <br/>
            <p>
                SnippetHub
                <br>
                Dublin Business School
                <br>
                George's St
                <br>
                Dublin 2
                <br>
                Ireland
                <br>
                Ph: +00 353 91 568444
                <br>
                Email: info@snippethub.com
                <br>
            </p>
            <p>&copy; SnippetsHub, @DateTime.Now.Year</p>
            <br/>  
                <a href="https://www.facebook.com/SnippetHub/?skip_nax_wizard=true" title="Facebook"> <img src="~/images/facebook.png" alt="facebook logo" width="120" /> </a>
             <br/>
            @Html.ActionLink("SiteMap", "SiteMap", "Home")
            <br/>
            <br/>
         </footer>  
</body>
</html>
